body {
  margin: 0;
  background-color: whitesmoke;
  font-family: sans-serif;
  overflow-y: scroll;

}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

textarea:focus {
  outline: none;
}

.rootDiv {
  width: 100%;
  height: 100vh;
}

/* LOADING PAGE */

.loadingPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.loadingContents {
  width: 75%;
  height: 100%;
  margin-top: 50px;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: inline-block;
  width: 80%;
  background-color: whitesmoke;
  height: 30px;
  border-radius: 0.8rem;
  background: linear-gradient(-45deg, white, whitesmoke, whitesmoke, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
background-size: 400% 400%;
animation: gradient 2s ease infinite;
}

.left {
  padding-top: 30px;
  width: 300px;
  height: 500px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}

.right {
  width: 100%;
  height: 500px;
}

.item {
  width: 100%;
  height: 80px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}


.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 52px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  z-index: 1000;
}



.nav-contents {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main-btns {
  display: flex;
  width: 660px;
  justify-content: space-between;
}

.nav-btn {
  color: rgba(0, 0, 0, 0.6);
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-btn-active .nav-btn {
  color: black !important;
}

.nav-btn:hover {
  color: black;
}

.nav-btn-active span {
  width: 100%;
  transition: width 0.4s ease-in-out;
}





.nav-btn p {
  margin: 0;
  font-size: 12px;

}

.nav-btn-icn {
  margin-bottom: 2px;
  fill: rgba(0, 0, 0, 0.6);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.prem-txt {
  width: 100px;
  height: 100%;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.prem-txt p {
  font-size: 12px;
  color: #915907;
}

.search-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-container {
  display: flex;
}

.input-container input {
  width: 240px;
  height: 34px;
  background-color: #eef3f8;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border: none;
  font-size: 14px;
}

.search-div {
  background-color: #eef3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 40px;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.search-input-icn {
  fill: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.nav-target-icn {
  width: 0;
  height: 2px;
  position: absolute;
  background-color: black;
  bottom: 0;
  transition: width 0.4s ease-in-out;
}

.nav-active {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

.nav-btn-active .network-active {
  transform: rotateY(3.142rad);
}

.nav-btn-active .active-notifs {
  transform: rotate(13deg);
  transition: all 0.1s ease-in-out;
}

.hide-search {
  display: none;
}


@media (max-width: 1300px) {
  .nav-contents {
      width: 90%;
  }
}

@media (max-width: 1025px) {

  .input-container {
      display: none;
  }

  .hide-search {
      display: flex;
  }

  .search-container {
      width: auto;
  }
  .nav-contents {
      justify-content: flex-start;
  }
}

/* HOMEPAGE CSS */
/* HOMEPAGE CSS */
/* HOMEPAGE CSS */
/* HOMEPAGE CSS */
/* HOMEPAGE CSS */
/* HOMEPAGE CSS */


.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.newsfeed {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
  column-gap: 20px;
}

@media (max-width: 1300px) {
  .newsfeed {
    width: 95%;
  }

}

@media (max-width: 770px) {
  .newsfeed {
    width: 80%;
    flex-direction: column;
    align-items: center;

  }
}


/* INFO LEFT CSS */
/* INFO LEFT CSS */
/* INFO LEFT CSS */
/* INFO LEFT CSS */
/* INFO LEFT CSS */

.infoLeftContainer {
  width: 225px;
  height: auto;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.leftProfileContainer {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
}

.userBanner {
  width: 100%;
  height: auto;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

@media (max-width: 770px) {
  .infoLeftContainer {
      width: 100%;
  }
}

/* NEWS FEED INFO CSS */
/* NEWS FEED INFO CSS */
/* NEWS FEED INFO CSS */
/* NEWS FEED INFO CSS */
/* NEWS FEED INFO CSS */
/* NEWS FEED INFO CSS */



.left-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.newsfeed-dp {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: 100% -2px;
  border: 2px solid white;
  margin-top: -35px;
}

.newsfeed-username {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.newsfeed-username:hover {
  text-decoration: underline;
}

.newsfeed-bio {
  margin: 0;
  margin-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 12px;
}

.connection-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.connection-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.connections, .grow-ur-network {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 15px;
}

.connections {
  color: rgba(0, 0, 0, 0.6);
}

.access-container {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.access-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.access-container p {
  font-size: 12px;
  margin: 0;
  align-self: flex-start;
  margin-left: 15px;
}

.access-two {
  font-weight: bold;
}

.my-items-div {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  height: 41px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.my-items-div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.my-items-div p {
  width: 100%;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.discover-container {
  /* position: fixed; */
  margin-top: 10px;
  width: 223px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px;
}

.discover-container p {
  font-size: 12px;
  font-weight: bold;
  color: #0a66c2;
  margin-left: 15px;
  cursor: pointer;
}

.discover-container p:hover {
  text-decoration: underline;
}

.discover-div {
  height: 45px;
  width: 100%;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-div-fixed {
  position: fixed;
  top: 60px;
}

.discover-div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#discover-more {
  color: rgba(0, 0, 0, 0.4);
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

/* RIGHT RIGHT RIGHT */

.user-suggestions {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-suggestion {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
}

.user-sg-icn {
  min-width: 48px;
  width: 48px;
  height: 48px;
  fill: rgba(0, 0, 0, 0.3);
  min-height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.user-name-bio-follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name-sg {
  margin: 0;
  font-size: 14px;
}

.bio-sg {
  margin:0;
  margin-top: 3px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);

}

.follow-btn {
  margin-top: 7px;
  width: 98px;
  height: 32px;
  border-radius: 1.6rem;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  cursor: pointer;
}

.ad-container {
  margin-top: 10px;
}

.ad-container-fixed {
  width: 300px;
  position: fixed;
  top: 60px;
}

.ad-img {
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.site-infos {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.block {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

.block p {
  cursor: pointer;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

.ad-image {
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 770px) {
  .connection-container {
      display: none;
  }

  .access-container {
      display: none;
  }

  .my-items-div {
      display: none;
  }

  .newsfeed-bio {
      border-bottom: none;
  }

  .discover-container {
      display: none;
  }
}

/* POSTS CSS */
/* POSTS CSS */
/* POSTS CSS */
/* POSTS CSS */
/* POSTS CSS */
/* POSTS CSS */


.post-container {
  width: 555px;
  background-color: white;
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.post-actions-container {
  height: 60px;
  width: 96%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.action-btn:hover {
  transition: all 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
}

.action-icn {
  transform: scale(0.9);
}

.action-btn p {
  margin: 0;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 14px;
}

.post-img {
  width: 100%;
  height: auto;
}

.post-user-container {
  width: 90%;
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: center;
}

.post-user-icon {
  width: 48px;
  fill: rgba(0, 0, 0, 0.6);
}

.post-user-pic {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.post-caption {
  margin: 15px 0 10px 0;
  width: 90%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
}

.user-info-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.user-info-div p {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
}

.user-info-div p:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.user-info-div p:nth-child(3) {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1200px) {
  .post-container {
      width: 387px;
  }
}

@media (max-width: 990px) {
  .post-container {
      width: 470px !important;
  }
}

@media (max-width: 770px) {
  .post-container {
      width: 100% !important;
  }
}


/* INFO RIGHT CSS */
/* INFO RIGHT CSS */
/* INFO RIGHT CSS */
/* INFO RIGHT CSS */
/* INFO RIGHT CSS */
/* INFO RIGHT CSS */

.infoRightContainer {
  width: 300px;
  height: 600px;
  /* position: absolute;
  top: 0;
  right: 0; */
}

.addToFeed {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.addFeed {
  width: 90%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  margin-top: 20px;

}

@media (max-width: 990px) {
  .infoRightContainer {
      display: none;
  }
}

/* NETWORK PAGE CSS */
/* NETWORK PAGE CSS */
/* NETWORK PAGE CSS */
/* NETWORK PAGE CSS */
/* NETWORK PAGE CSS */

.networkPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.networkContents {
  margin-top: 25px;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  column-gap: 25px;
}

.leftBanner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  min-width: 300px;
  height: auto;
  background-color: white;
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.leftBanner p {
  margin: 0;
}

.mngNetwork {
  margin-top: 20px !important;
  margin-bottom: 15px !important;
  margin-left: 15px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

.networkInfo {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  cursor: pointer;
  height: 40px;
}

.networkInfo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon {
  margin-left: 15px;
  fill: rgba(0, 0, 0, 0.6);
}

.growNetwork {
  color: #0a66c2;
  width: 100% !important;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.adContainer {
  width: 100%;
  padding-top: 15px ;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.adImage {
  width: 100%;
}

.siteInfos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  row-gap: 10px;
}

.block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.block p {
  margin: 0 !important;
  font-size: 12px;
  width: auto;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.block p:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.contentContainer {
  width: auto;

}

.contentOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  margin-bottom: 15px;
  width: 805px;
}

.contentOne p {
  margin: 20px 15px;
}

.contentOne p:nth-child(1) {
  color: rgba(0, 0, 0, 0.7);
}

.contentOne p:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
}

.suggestionsContainer {
  width: 805px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: auto    ;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.suggestionsContainer p {
  margin-left: 15px;
  align-self: flex-start;
  color: rgba(0, 0, 0, 0.7);
}

.allSuggestions {
  width: 95%;
  height: auto;
  margin-bottom: 20px;
  grid-template-columns: repeat(3,minmax(0,1fr));
  display: grid;
  gap: 1.2rem;
  list-style-type: none;
}

.suggestionDiv {
  width: 100%;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.suggestionDiv:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.suggestionBanner {
  width: 100%;
  height: 62px;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-size: cover;
}

.suggestionInfo {
  position: relative;
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sgUserIcn {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -50px;
  fill: gray;
}

.suggestionInfo p {
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.suggestionInfo p:nth-child(3) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.followBtn {
  height: 32px;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid #0a66c2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  cursor: pointer;
  box-sizing: border-box;

}

.followBtn:hover {
  background-color: rgba(10, 102, 194, 0.2);
  border-width: 2px;
  transition: all 0.1s ease-in-out;
}

.followBtn  p {
  color:#0a66c2;
  margin: 0;
  align-self: center;
}


/* LOADING PAGE */

.loadingPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.loadingContents {
  width: 75%;
  height: 100%;
  margin-top: 50px;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: inline-block;
  width: 80%;
  background-color: whitesmoke;
  height: 30px;
  border-radius: 0.8rem;
  background: linear-gradient(-45deg, white, whitesmoke, whitesmoke, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
background-size: 400% 400%;
animation: gradient 2s ease infinite;
}

.left {
  padding-top: 30px;
  width: 300px;
  height: 500px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}

.right {
  width: 100%;
  height: 500px;
}

.item {
  width: 100%;
  height: 80px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1300px) {
  .networkContents {
      width: 90%;
  }
}

@media (max-width: 1200px) {
  .networkContents {
      width: 95%;
      justify-content: center;
  }
  .contentOne {
      width: 635px;
  }

  .suggestionsContainer {
      width: 635px;
  }

  .allSuggestions {
      grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media (max-width: 1030px) {


  .contentOne {
      width: 395px;
  }

  .suggestionsContainer {
      width: 395px;
  }

  .allSuggestions {
      grid-template-columns: repeat(1,minmax(0,1fr));
  }
}

@media (max-width: 760px) {
  .networkContents {
      flex-direction: column;
      align-items: center;
  }

  .leftBanner {
      width: 80%;
  }

  .contentContainer {
      width: 80%;
  }

  .contentOne {
      width: 100%;
  }

  .suggestionsContainer {
      width: 100%;
  }

  .adImage {
      height: auto;
  }
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

/* JOBS PAGE CSS */
/* JOBS PAGE CSS */
/* JOBS PAGE CSS */
/* JOBS PAGE CSS */
/* JOBS PAGE CSS */
/* JOBS PAGE CSS */


.jobPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.jobContents {
  width: 75%;
  height: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
  align-items: flex-start;
}

.leftBanner {
  width: 225px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  row-gap: 20px;
  padding: 22px 0;
  position: sticky;
  top: 80px;
}

.leftBannerContent {
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBannerContent p {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.leftBannerIcon {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.mainContent {
  width: 555px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.recent {
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.recentContents {
  width: 90%;
}

.jobSearches  {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobSearches p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.jobSearches p:nth-child(2) {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);

}

.jobs {
  cursor: pointer;
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.jobs p:nth-child(1) {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.jobs p:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
}

.rightBanner {
  width: 310px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.improveRes p {
  text-wrap: nowrap;
}

.rightBannerInfo {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.infoContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0 10px 0;
}

.seekerGuide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.seekerGuide p:nth-child(2) {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.improveRes {
  margin-top: 10px;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.improveRes p {
  font-size: 14px;
  cursor: pointer;
}



.img {
  width: 70px;
  height: 55px;
  border-radius: 0.8rem;
  margin-left: 5px;
}

.explore {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.showMore {
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  color: rgba(131, 68, 204, 0.7);
  cursor: pointer;
  margin-bottom: 5px;
}

.showMore:hover {
  text-decoration: underline;
}

.recommend {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recommend p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.recommend p:nth-child(2) {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.recommendJobs {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sampleURL {
  width: 56px;
  height: 56px;
}
.JobsTxt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 14px;
}

.JobsTxt p:nth-child(1) {
  color: #0a66c2;
  font-size: 16px;
}

.JobsTxt p:nth-child(2) {
  color: rgba(0, 0, 0, 0.7);
}

.JobsTxt p:nth-child(2):hover {
  text-decoration: underline;
}

.JobsTxt p:nth-child(3) {
  color: rgba(0, 0, 0, 0.4);
}

.emptyIcnCter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  cursor: pointer;
  border-radius: 50%;
}

.emptySaveIcn {
  color: rgba(0, 0, 0, 0.6);
}

.emptyIcnCter:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
}

.recommendJobs:hover .JobsTxt p:nth-child(1) {
  text-decoration: underline;
}

.recommendJobs:hover .seenIcnCter {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.seenIcnCter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: 40px;
  top: 0;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}

.seenIcnCter:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
  }


@media (max-width: 1300px) {
  .jobContents {
      width: 95%;
  }
}

@media (max-width: 1200px) {
  .mainContent {
      width: 388px;
  }
}

@media (max-width: 990px) {
  .rightBanner {
      display: none;
  }

  .mainContent {
      width: 471px;
  }
}

@media (max-width: 770px) {
  .jobContents {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 20px;
  }

  .leftBanner {
      position: static;
      width: 577px;
      top: 0;
  }

  .mainContent {
      width: 577px;
  }
}

@media (max-width: 630px) {
  .leftBanner {
      position: static;
      width: 95%;
  }

  .mainContent {
      width: 95%;
  }
}


/* MESSAGE PAGE CSS */
/* MESSAGE PAGE CSS */
/* MESSAGE PAGE CSS */
/* MESSAGE PAGE CSS */
/* MESSAGE PAGE CSS */


.messagePage {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.messageContent {
  position: absolute;
  top: 75px;
  bottom: 0;
  width: 75%;
  display: flex;
  justify-content: center;
  column-gap: 25px;

}

.messageAd {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}

.chatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 313px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0.8rem;
  overflow: hidden;

}

.messageHeader {
  width: 100%;
  min-height: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageHeader p {
  margin-left: 15px;
}


.chatIcons {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.chatIcon {
  transform: scale(1.4);
}

.messageContainer {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  /* position: absolute;
  bottom: 0; */
}

.spacer{
  width: 400px;
}

.userChatContainer {
  width: 470px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.8rem;
  overflow: hidden;
}

.chatHeader {
  display: flex;
  height: 44px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.nameStatus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
}

.nameStatus p:nth-child(1) {
  font-size: 14px;
}

.nameStatus p:nth-child(2) {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.chatHeaderIcons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}


.chatHeaderIcn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.chatHeaderIcn:hover {
  transition: 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.1);
}

.chatMessages {
  width: 100%;
  height: 416px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.chatMessageInputContainer {
  width: 100%;
  height: 120px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  column-gap: 10px;
}

.chatMessageInputContainer textarea  {
  color: black;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  height: 80px;
  background-color: whitesmoke;
  border: none;
  border-radius: 0.8rem;
  resize: none;
}

.chatMessageInputContainer div {
  margin-top: 10px;
}

.msgArrowIcn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(180deg);
}

.msgArrowIcn:hover {
  transition: all 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.1);
}

.chatActions {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chatActionIcns {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.chatActionIcns button {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  background-color: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.8rem;
  padding: 5px 10px;
}


.chatActionDots {
  fill: rgba(0, 0, 0, 0.6);
  transform: scale(1.5);
}

.displayChatUser {
  width: 100%;
  height: 125px;
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}


.chatDpSample {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.chatUserInfo {
  margin-left: 15px;
}

.chatUserInfo p:nth-child(1) {
  font-weight: bold;
}

.chatUserInfo p:nth-child(2) {
  font-size: 14px;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.6);
}

.allMessageContents {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

}

.borderTop {
  display: flex;
  color: rgba(0, 0, 0, 0.6);

}

.borderTop hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.borderTop p {
  font-size: 14px;
  margin: 0 10px;
}


.chatMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chatMessageDp {
  z-index: 100;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.imageName {
  margin-left: 10px;
  display: flex;
  column-gap: 10px;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.imageName p {
  margin-top: 5px;
}


.imageName p:hover {
  color: rgba(10, 102, 194, 0.8);
  text-decoration: underline;
}

.messageText {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.messageText:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.messageText p {
  margin-top: 10px;
  width: 75%;
  margin-left: 60px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}

@media (max-width: 1300px) {
  .messageContent {
      width: 95%;
  }
}

@media (max-width:1160px) {
  .messageAd {
      display: none;
  }
}

@media (max-width:800px) {
  .messageContainer {
      flex-direction: column;
  }
  .chatsContainer {
      border-top-right-radius: 0.8rem;
      width: 500px;
  }

  .userChatContainer {
      display: none;
  }
}


/* MESSAGE TAB CSS */
/* MESSAGE TAB CSS */
/* MESSAGE TAB CSS */
/* MESSAGE TAB CSS */
/* MESSAGE TAB CSS */


.message-tab {
  position: fixed;
  bottom: -600px;
  right: 0;
  width: 288px;
  height: 650px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: bottom 0.2s ease-in-out;
}

.show-message-tab {
  bottom: 0;
  transition: bottom 0.2s ease-in-out;
}

.message-head {
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  position: relative;
}

.message-head:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.message-head p {
  font-size: 14px;
}


.msg-circle-icn {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.messaging-icons {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  right: 15px;
}

.msg-tab-icn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.msg-tab-icn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.down-icn-active {
  transform: rotate(180deg);
}

.msg-search-container {
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-container-2 {
  width: 95%;
  margin-top: 0px 0px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.2rem;
  background-color: rgba(10, 102, 194, 0.08);
  position: relative'

}

.search-container-2:hover {
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.search-container-2:focus-within {
  border: 3px solid rgba(0, 0, 0, 0.9);

}

.msg-search-icn {
  transform: scale(0.8);
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 12px;
  left: 15px;
  cursor: pointer;
}

.adjust-icn {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 15px;
  top: 15px;
}

.msg-search-input {
  margin: 0px 30px;
  width: 235px;
  height: 28px;
  border: transparent;
  position: absolute;
  left: 10px;
  right: 30px;
  background-color: transparent;

}

.msg-search-input:focus {
  outline: none;
}



.msg-adjust-icn {
  position: absolute;
  fill: rgba(0, 0, 0, 0.7);
  top: 16px;
  right: 18px;
  cursor: pointer;
}

.message-contents {
  width: 100%;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.message-pages-container {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.msg-page-btn-cter {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}

.msg-page-btn-cter button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.msg-page-btn-cter span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: green;
}

.active-btn button {
  color: green;
}

.active-btn span {
  opacity: 1 !important;
  transition: 0.3s ease-in-out;
}

.focused-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.chat-container {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.chat-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-dp {
  margin-left: 10px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-texts {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.chat-texts p:nth-child(1) {
  font-size: 14px;
  width: 167px;
  text-overflow: ellipsis;
}

.chat-texts p:nth-child(2) {
  width: 167px;
  height: 28px;
  font-size: 12px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.5);
  text-overflow: ellipsis;
}
